xterm*foreground: white
xterm*background: black
XTerm*locale: true
xterm*termName: xterm-256color
Xterm*saveLines: 4096
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
xterm*faceName: DejaVu Sans Mono:size=11:antialias=true
xterm*font: 7x13
xterm*pointerMode: 0
XTerm*selectToClipboard: true
XTerm*metaSendsEscape: true
urxvt*perl-lib: /opt/urxvt/urxvt-vim-scrollback
urxvt*perl-ext-common: vim-scrollback
URxvt.font: xft:DejaVu Sans Mono:size=11:antialias=true
URxvt.letterSpace: -1
URxvt*foreground: white
URxvt*background: black
URxvt*scrollBar: false
URxvt.color12: rgb:5c/5c/ff
